{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mascota.css' %}">
</head>

<body>

    <h1 class="nombre"> {{nombre}}</h1>

    <img class="mascota" src="{% static 'senior.png' %}">

    <div class="menu">
        <form method="post" action="{% url 'alimentar_mascota' %}">
            {% csrf_token %}
            <button type="submit">Nomnom</button>
        </form>
        <form method="post" action="{% url 'mimar_mascota' %}">
            {% csrf_token %}
            <button type="submit">Mimitis</button>
        </form>
        <form method="post" action="{% url 'mimir_mascota' %}">
            {% csrf_token %}
            <button type="submit">Mimir</button>
        </form>
    </div>
    <div class="stats">

        <form action="{% url 'stats' %}">
            <button type="submit">stats</button>
        </form>
    </div>

</body>

</html>