{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'mascota.css' %}">
</head>

<body>

    <h1 class="nombre">{{nombre}}</h1>

    <img class="mascota" src="{% static 'senior.png' %}">
    <div class="menu">

        <p class="hambre"> hambre: </p>
        <p class="numero">{{hambre}}</p>
        <p class="diversion"> diversion:
        <p class="numero">{{diversion}}</p>
        <p class="salud"> salud:
        <p class="numero">{{salud}}</p>
    </div>
    <div class="stats">
        <form action="/mascota">
            <button type="submit">
                < </button>
        </form>
    </div>

</body>

</html>