body {
    background: url('Background.png') no-repeat center center fixed;
    /* background: url('Background.png') center center cover no-repeat fixed; */

    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.menu {
    float: right;
    margin-top: 120px
}

.menu button {
    width: 80px;
    margin-bottom: 12px;
    margin-right: 360px
}